body {
  font-family: "Montserrat", sans-serif;
  max-width: 1920px;
  line-height: 1;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
.contact {
  &_header {
    width: 100%;
    height: 136px;
    &-main {
      width: 71%;
      height: calc(136px - 53px);
      margin: 0 auto;
      background-color: $brown;
      border-left: 1px solid #5e463c;
      border-right: 1px solid #5e463c;
      border-top: 1px solid #4a362e;
    }
    &-top {
      height: 53px;
      background-color: $bold-brown;
    }
    &-bot {
      background-color: $light-brown;
      border-top: 1px solid #4a362e;
    }
  }
  &-logo {
    margin-top: -270px;
    margin-left: -40px;
  }
  &_menu {
    width: 80%;
    margin: 0 auto;
  }
  &_navbar {
    display: flex;
    text-decoration: none;
    float: right;
    margin-right: 102px;
  }
  &-item {
    margin-top: 32px;
    margin-left: 87px;
    text-align: center;
    &_image {
      width: 33px;
      margin-bottom: 12px;
    }
    p {
      font-size: 11px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      color: #c7b18d;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
    }
  }
  &-name {
    margin-left: 170px;
    margin-top: -160px;
    color: #ede8e4;
    font-size: 55px;
    font-family: "Duepuntozero";
  }
  &-name1 {
    margin-left: 236px;
    color: #c7b18d;
    font-size: 13px;
    font-weight: 500;
  }
  &-content {
    height: 93px;
  }

  &_main {
    background-image: linear-gradient(#dbd2ce, white);
    margin-bottom: 170px;
  }
  &_container {
    width: 71%;
    margin: 0 auto;
    background-image: linear-gradient(#e6e2df, white);
    height: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  &_info {
    width: 63.9%;
    height: 100%;
    margin-left: auto;
    padding-top: 30px;
    padding-right: 50px;
    &-title {
      font-size: 37px;
      padding-bottom: 17px;
      border-bottom: 2px solid #cfcfcf;
      font-family: "Duepuntozero";
    }
    &-detail {
      font-size: 13px;
      color: #645a56;
    }
    &-author {
      margin-top: 30px;

      ul {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 30%;
          margin-bottom: 10px;
          margin-right: 60px;
          display: flex;
          justify-content: space-between;
          &:nth-child(2) {
            width: 28.5%;
          }
          span {
            &:last-child {
              color: #645a56;
            }
          }
        }
      }
    }
  }

  &_footer {
    height: 130px;
    background-color: $light-brown;
    border-right: 1px solid #48362d;
    border-left: 1px solid #48362d;
    &-main {
      width: 71.45%;
      height: 100%;
      margin: 0 auto;
      display: flex;
    }
    &-left {
      width: 34.1%;
      height: calc(100% - 10px);
      background-color: $bold-brown;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 10px;
    }
    &-right {
      width: 65.9%;
      background-color: $brown;
      padding: 35px;
      padding-right: 53px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p {
      color: #a68a7d;
      text-transform: uppercase;
      font-size: 11px;
      span {
        color: #fff;
      }
    }
  }
  &_form {
    margin-top: 20px;
    label {
      font-size: 11px;
      color: #645a56;
    }
    input,
    textarea {
      margin-top: 5px;
      height: 30px;
      width: 80%;
      border: 1px solid #d8d5d2;
    }
    textarea {
      height: 210px;
    }
    button {
      border: 1px solid #aba199;
      width: 100px;
      height: 33px;
      background-color: #cdc4be;
      float: right;
      margin-right: 121px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .contact {
    &_container {
      width: calc(100% - 2px);
    }
    &_navbar {
      margin-right: 0;
    }
    &_footer-main {
      width: 100%;
    }
    &_header {
      &-main {
        width: calc(100% - 1px);
        border-left: none;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .lightbox-bubble {
    width: 100px;
    transform: translateX(-34%);
  }
  .contact {
    &_plan {
      width: 100%;
      &-desc {
        width: 100%;
        margin-right: 30px;
      }
    }
    &_main {
      width: 100%;
    }
    &_info {
      width: auto;
      padding-top: 50px;
      padding-left: 70px;
      margin-left: 0;
    }

    &-logo {
      display: none;
    }
    &-name {
      margin-top: -24px;
      margin-left: 61px;
    }
    &-name1 {
      margin-left: 123px;
    }
    &_container {
      width: calc(100% - 2px);
    }
    &_footer {
      &-main {
        width: 100%;
      }
      &-left {
        display: none;
      }
      &-right {
        width: 100%;
        padding-right: 25px;
      }
    }
    button {
      margin-right: 125px;
    }
    &_header {
      &-main {
        width: calc(100% - 1px);
        border-left: none;
      }
    }
  }
  .arrow {
    transform: translateX(500%);
  }
}

@media only screen and (max-width: 414px) {
  .contact {
    &_header {
      height: 173px;
      &-bot {
        height: 100%;
      }
      &-main {
        height: 100%;
      }
    }
    &-name {
      margin-top: 47px;
      margin-left: 146px;
    }
    &-name1 {
      margin-left: 205px;
      margin-top: -5px;
    }
    &-item {
      margin-left: 47px;
      width: 25%;
    }
    &_info {
      &-author {
        ul li {
          width: auto;
          margin-bottom: 17px;
        }
      }
      padding-top: 20px;
      padding-left: 30px;
    }
    &_form {
      input,
      textarea {
        width: 100%;
      }
    }
    &_footer {
      img {
        display: none;
      }
    }
    button {
      margin-right: 100px;
    }
  }
}
