* {
  box-sizing: border-box;
}
body {
  line-height: 1;
}
html {
  scroll-behavior: smooth;
}
.header {
  &-nav {
    width: 100%;
    background-color: $bold-brown;
    display: flex;
    &_bar {
      width: 450px;
      height: 53px;
      margin-left: 50%;
      display: flex;
      justify-content: space-around;
    }
  }
  &_item {
    div {
      margin-left: 25px;
      margin-top: -20px;
    }
    a {
      color: #c7b18d;
      display: block;
      text-transform: uppercase;
      line-height: 25px;
      font-size: 11px;
      font-family: "Arial";
    }
  }
  &-info {
    background-color: $light-brown;
    border: solid 1px #4c3a30;
    border-bottom: solid 1px #ffff;
  }
  &_main {
    width: 1000px;
    height: 213px;
    margin: auto;
    background-color: $brown;
    display: flex;
    border-left: solid 1px #4c3a30;
    border-right: solid 1px #4c3a30;

    img {
      margin-top: -50.3%;
      margin-left: -15%;
      display: block;
    }
  }
  &-title {
    display: block;
    height: 98px;
    margin-top: 90px;
    margin-left: -123px;
    padding-right: 25px;
    border-right: #4f3b31 solid 2px;
    color: white;
    font-size: 24px;
    font-family: "Duepuntozero";

    h1 {
      font-size: 68px;
      font-weight: 800;
    }
    p {
      font-size: 16px;
      color: #fae1b3;
      margin-left: 59%;
      margin-top: -9px;
    }
  }
  &-desc {
    width: 453px;
    display: block;
    margin-top: 95px;
    margin-left: 30px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a68b7a;
    line-height: 1.5;
  }
}
.info {
  background-image: linear-gradient(#dbd2ce, white);
  &_main {
    background-image: linear-gradient(#e6e2df, white);
    width: 1000px;
    margin: auto;
    padding-bottom: 120px;
    border-left: solid 1px #ffff;
    border-right: solid 1px #ffff;
  }
  &_desc {
    width: 635px;
    margin-left: 34.7%;
    display: flex;
    padding-right: 1%;
  }
  &_list {
    margin-top: 30px;
    &-title {
      font-weight: 400;
      font-size: 41px;
      margin-bottom: 25px;
      font-family: "Duepuntozero";
      color: #2f231e;
    }
    &-information {
      border-top: 1px solid #cfc6c0;
      padding-top: 30px;
      margin-right: 30px;
    }
    &-item {
      img {
        height: 40px;
        margin-right: 15px;
      }
      margin-bottom: 30px;
      display: flex;
      h3 {
        color: #836065;
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 15px;
        font-family: "Duepuntozero";
      }
      p {
        width: 281px;
        font-size: 14px;
        color: #645a56;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  &_paragraph {
    background-color: #e0d7d2;
    padding: 30px 24px;
    margin-top: 30px;
    height: 424px;
    position: relative;
    blockquote {
      font-size: 19px;
      line-height: 27px;
      color: #7f6357;
      font-style: italic;
      font-family: "Georgia";
      ::before {
        content: "";
        position: absolute;
        bottom: -25px;
        right: 35px;
        border-top: 25px solid #e0d7d2;
        border-left: 30px solid #f1efed;
        border-right: 5px solid #f1efed;
      }
    }
  }
  &-author {
    font: bold normal 15px arial;
    color: #2f231e;
    float: right;
    margin-right: -15px;
    padding-top: 75px;

    font-weight: bold;
    span {
      font-size: 10px;
      line-height: 10px;
      display: block;
      color: #89451f;
    }
  }
  &_recent {
    margin-left: 345px;
    margin-right: 25px;
    border-top: 1px solid #cec5c0;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 33px;
      margin-bottom: 30px;
      h2 {
        font-size: 41px;
        line-height: 34px;
        color: #2f231e;
        font-weight: 400;
        font-family: "Duepuntozero";
      }
    }
    &-number {
      display: flex;
      justify-content: space-between;
      li {
        margin-left: 8px;
        margin-top: 4px;
      }
    }
    &-image {
      background-color: white;
      img {
        border: 1px solid #cec5c0;
        padding: 19px;
      }
    }
    &-info {
      p > strong {
        color: #000;
        font-weight: 800;
      }
      p {
        text-align: right;
        font-size: 13px;
        font-style: italic;
        color: #4e4d4d;
        margin-top: 15px;
      }
    }
  }
}
.footer {
  height: 100px;
  background-color: $light-brown;
  border-right: 1px solid #48362d;
  border-left: 1px solid #48362d;
  &-main {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
  }
  &-left {
    width: 34.1%;
    height: 100%;
    background-color: $bold-brown;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-right {
    width: 65.9%;
    background-color: $brown;
    padding: 35px;
    padding-right: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    color: #a68a7d;
    text-transform: uppercase;
    font-size: 11px;
    span {
      color: #fff;
    }
  }
}
.opacity {
  opacity: 0;
}

@include tablet {
  .header {
    &_main {
      width: 100%;
    }
    &-title {
      border-right: none;
    }
    &-desc {
      margin-left: 0;
    }
    &-nav {
      &_bar {
        margin-left: 39%;
      }
    }
  }
  .info {
    &_desc,
    &_recent {
      margin-left: 10%;
      &-image {
        img {
          padding: 36px;
        }
      }
    }
    &_main {
      padding-top: 30px;
      width: 100%;
    }
  }
  .footer {
    &-main {
      width: 100%;
    }
  }
}
@include mobile {
  .header {
    &-nav {
      &_bar {
        margin-left: 0;
      }
    }
    &_main {
      width: 100%;
      height: 335px;
      &-img {
        display: inline-block;
        img {
          margin-top: 0;
          margin-left: 0;
          display: block;
          width: 53%;
        }
      }
    }
    &-title {
      border-right: none;
      margin-left: -116px;
    }
    &-desc {
      display: block;
      margin-top: 231px;
      margin-left: -305px;
      width: 90%;
    }
  }
  .info {
    &_main {
      width: 100%;
    }
    &_desc {
      width: 100%;
      margin-left: 0;
      flex-direction: column;
      margin-bottom: 25%;
      padding-right: 0;
    }
    &_list {
      margin-left: 5%;
    }
    &_paragraph {
      width: 80%;
      margin: auto;
    }
    &-author {
      padding-top: 55%;
    }
    &_recent {
      margin-left: 5%;
      margin-right: 5%;
      &-image {
        img {
          width: 100%;
        }
      }
    }
  }
  .footer {
    &-main {
      width: auto;
    }
    &-left {
      display: none;
    }
    &-right {
      width: auto;
    }
  }
}
@include mobile2 {
  .header {
    &-nav {
      &_bar {
        margin-left: 0;
      }
    }
    &_main {
      width: 100%;
      height: 335px;
      &-img {
        display: inline-block;
        img {
          margin-top: 0;
          margin-left: 0;
          display: block;
          width: 53%;
        }
      }
    }
    &-title {
      border-right: none;
      margin-left: -116px;
      p {
        margin-left: 61%;
      }
    }
    &-desc {
      display: block;
      margin-top: 231px;
      margin-left: -305px;
      width: 97%;
    }
  }
  .info {
    &_main {
      width: 100%;
    }
    &_desc {
      width: 100%;
      margin-left: 0;
      flex-direction: column;
      margin-bottom: 30%;
      padding-right: 0;
    }
    &_list {
      margin-left: 5%;
    }
    &_paragraph {
      width: 80%;
      margin: auto;
    }
    &-author {
      padding-top: 65%;
    }
    &_recent {
      margin-left: 5%;
      margin-right: 5%;
      &-image {
        img {
          width: 100%;
        }
      }
    }
  }
  .footer {
    &-main {
      width: auto;
    }
    &-left {
      display: none;
    }
    &-right {
      width: auto;
    }
  }
}
@include iphoneX {
  .header {
    &_main {
      height: 286px;
      &-img {
        display: none;
      }
    }
    &-nav {
      &_bar {
        width: auto;
      }
    }
    &_item {
      margin-right: -15px;
    }
    &-title {
      margin-left: 59%;
      margin-top: 40%;
      p {
        margin-left: 197%;
      }
    }
    &-desc {
      width: 91%;
      margin-top: 164px;
      margin-left: -144px;
    }
  }
  .info {
    &-author {
      padding-top: 35%;
    }
    &_list {
      &-item {
        p {
          width: auto;
        }
      }
    }
  }
}
