$mobile-width: 377px;
$mobile2-width: 416px;
$tablet-width: 768px;
$desktop-width: 1024px;
$iphoneX-width: 321px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}
@mixin mobile2 {
  @media (max-width: #{$mobile2-width - 1px}) {
    @content;
  }
}
@mixin iphoneX {
  @media (max-width: #{$iphoneX-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
