/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: helvetica, arial, sans-serif;
  line-height: 25px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1920px;
  line-height: 1;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.lightbox_header {
  width: 100%;
  height: 266px;
}
.lightbox_header-main {
  width: 71.45%;
  height: 213px;
  margin: 0 auto;
  background-color: #30241f;
  border-left: 1px solid #5e463c;
  border-right: 1px solid #5e463c;
  border-top: 1px solid #4a362e;
}
.lightbox_header-top {
  height: 53px;
  background-color: #251b17;
}
.lightbox_header-bot {
  background-color: #3b2c25;
  border-top: 1px solid #4a362e;
}
.lightbox-bubble {
  top: 0;
  right: 50;
  transform: translateX(-42%);
  position: absolute;
  z-index: 1;
}
.lightbox-logo {
  margin-top: -145px;
  margin-left: -40px;
}
.lightbox_menu {
  width: 80%;
  margin: 0 auto;
}
.lightbox_navbar {
  display: flex;
  text-decoration: none;
  float: right;
  margin-right: 102px;
}
.lightbox-item {
  margin-top: 32px;
  margin-left: 87px;
  text-align: center;
}
.lightbox-item_image {
  width: 33px;
  margin-bottom: 12px;
  z-index: 2;
}
.lightbox-item p {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #c7b18d;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.lightbox-name {
  margin-left: 170px;
  margin-top: -177px;
  color: #ede8e4;
  font-size: 60px;
  font-weight: 900;
  display: block;
  width: 124px;
  height: 67px;
  font-family: "Duepuntozero";
}
.lightbox-name1 {
  margin-left: 238px;
  color: #c7b18d;
  font-size: 13px;
  font-weight: 600;
  margin-top: -10px;
  font-family: "Duepuntozero";
}
.lightbox-content {
  display: flex;
  height: 93px;
}
.lightbox-paragraph {
  margin: -67px 235px 0 302px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  color: #a68a7d;
  border-left: 1px solid #4f3b33;
  line-height: 1.3;
}
.lightbox_main {
  background-image: linear-gradient(#dbd2ce, white);
  height: 80%;
  margin-bottom: 100px;
}
.lightbox_container {
  width: 71.45%;
  margin: 0 auto;
  background-image: linear-gradient(#e6e2df, white);
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.lightbox_info {
  width: 65.9%;
  height: 100%;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 15px;
}
.lightbox_plan {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cec5c0;
}
.lightbox_plan-quote {
  float: right;
  margin-right: 10px;
  margin-left: 60px;
  width: 70%;
  background: #e6e2df;
  color: #7f6357;
  padding: 25px;
  font: italic 18px/27px georgia;
  position: relative;
}
.lightbox_plan-quote ::before {
  content: "";
  position: absolute;
  bottom: -25px;
  right: 35px;
  border-top: 25px solid #e3e3e3;
  border-left: 30px solid #f1efed;
  border-right: 5px solid #f1efed;
}
.lightbox_plan-quote p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #7f6357;
  font-family: georgia;
}
.lightbox_plan-author {
  font: bold normal 15px arial;
  color: #2f231e;
  float: right;
  margin-right: 10px;
  padding-top: 35px;
  font-weight: bold;
}
.lightbox_plan-author span {
  font-size: 10px;
  line-height: 10px;
  display: block;
  color: #89451f;
}
.lightbox-title {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 25px;
  font-family: "Duepuntozero";
  color: #2f231e;
}
.lightbox-information {
  border-top: 1px solid #cfc6c0;
  padding-top: 30px;
  padding-right: 20px;
}
.lightbox-list {
  display: flex;
}
.lightbox-list img {
  height: 40px;
  margin-right: 15px;
}
.lightbox-list_item {
  margin-bottom: 30px;
}
.lightbox-list_item h2 {
  color: #836065;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 8px;
  font-family: "Duepuntozero";
}
.lightbox-list_item p {
  width: 300px;
  font-size: 14px;
  color: #645a56;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.lightbox_recent p > strong {
  color: #000;
  font-weight: 800;
}
.lightbox_recent p {
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #4e4d4d;
  margin-top: 15px;
  margin-right: 10px;
}
.lightbox_recent-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 30px;
}
.lightbox_recent-title {
  margin-bottom: 0;
  font-size: 37px;
  color: #2f231e;
  font-weight: 600;
  font-family: "Duepuntozero";
}
.lightbox_recent-number {
  display: flex;
  gap: 8px;
  margin-right: 10px;
}
.lightbox_recent-image {
  width: 92%;
  padding: 20px;
  border: 1px solid #d6cec9;
  background: white;
  margin-right: 100px;
}
.lightbox_recent-image img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 1px solid #cecece;
}
.lightbox_footer {
  height: 100px;
  background-color: #3b2c25;
  border-right: 1px solid #48362d;
  border-left: 1px solid #48362d;
}
.lightbox_footer-main {
  width: 71.45%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.lightbox_footer-left {
  width: calc(100% - 530px);
  height: 100%;
  background-color: #251b17;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox_footer-right {
  width: 80%;
  height: 30px;
  background-color: #30241f;
  padding: 35px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lightbox_footer p {
  color: #a68a7d;
  text-transform: uppercase;
  font-size: 11px;
}
.lightbox_footer p span {
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .arrow {
    display: none;
  }

  .lightbox_container {
    width: calc(100% - 2px);
  }
  .lightbox_footer-main {
    width: 100%;
  }
  .lightbox_header-main {
    width: calc(100% - 1px);
    border-left: none;
  }
}
@media only screen and (max-width: 768px) {
  .lightbox_plan {
    width: 100%;
  }
  .lightbox_plan-desc {
    width: 100%;
  }
  .lightbox_main {
    width: 100%;
  }
  .lightbox_info {
    width: auto;
    padding-top: 50px;
    padding-left: 30px;
    margin-left: 0;
  }
  .lightbox-logo {
    display: none;
  }
  .lightbox-nameLeft {
    width: 100%;
  }
  .lightbox-name {
    margin-top: 97px;
  }
  .lightbox-paragraph {
    width: 300px;
    margin: -81px 292px 0 304px;
  }
  .lightbox_container {
    width: calc(100% - 2px);
  }
  .lightbox_footer-main {
    width: 100%;
  }
  .lightbox_header-main {
    width: calc(100% - 1px);
    border-left: none;
  }

  .arrow {
    transform: translateX(500%);
  }
}
@media only screen and (max-width: 375px) {
  .lightbox-logo {
    display: none;
  }
  .lightbox_header-main {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .lightbox_footer img {
    display: none;
  }
  .lightbox_footer-right {
    width: 100%;
    padding-right: 0;
  }
  .lightbox_recent {
    margin-top: 70px;
  }
  .lightbox_recent-image {
    width: 85%;
  }
  .lightbox_plan {
    display: block;
    border-bottom: none;
  }
  .lightbox-name1 {
    margin-left: 91px;
  }
  .lightbox-content {
    display: inline;
  }
  .lightbox-item {
    margin-left: 47px;
  }
  .lightbox-paragraph {
    padding: 0;
    border: none;
    width: 200px;
    font-size: 15px;
    margin: -81px 292px 0 162px;
  }
  .lightbox_plan-desc {
    height: 400px;
  }
  .lightbox-name {
    margin-left: 26px;
  }
  .lightbox-nameRight {
    margin-left: 81px;
    width: 75%;
    margin-top: 5px;
  }
  .lightbox-logo {
    display: none;
  }
  .lightbox_navbar {
    margin: 10px auto;
  }
  .lightbox-list_item p {
    width: 265px;
  }

  .arrow {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .lightbox_footer img {
    display: none;
  }
  .lightbox_footer-right {
    width: 100%;
    padding-right: 0;
  }
  .lightbox_recent {
    margin-top: 123px;
  }
  .lightbox_recent-title {
    margin-bottom: 10px;
  }
  .lightbox_recent-main {
    display: inline-block;
  }
  .lightbox_recent-image {
    width: 85%;
  }
  .lightbox_plan {
    display: block;
    border-bottom: none;
  }
  .lightbox-name1 {
    margin-left: 91px;
  }
  .lightbox-content {
    display: inline;
  }
  .lightbox-item {
    margin-left: 33px;
  }
  .lightbox-paragraph {
    width: 256px;
    font-size: 15px;
    margin: 18px 286px 0 33px;
    text-align: center;
  }
  .lightbox_plan-desc {
    height: 400px;
  }
  .lightbox-name {
    margin-left: 112px;
    margin-bottom: 94px;
  }
  .lightbox-name1 {
    margin-left: 180px;
    margin-top: -103px;
  }
  .lightbox-nameRight {
    margin-left: 81px;
    width: 75%;
    margin-top: 5px;
  }
  .lightbox-logo {
    display: none;
  }
  .lightbox_navbar {
    margin: 10px auto;
  }
  .lightbox-list_item p {
    width: 200px;
  }
  .lightbox_header {
    height: 336px;
  }
  .lightbox_header-main {
    width: auto;
    height: 500px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  max-width: 1920px;
  line-height: 1;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.contact_header {
  width: 100%;
  height: 136px;
}
.contact_header-main {
  width: 71%;
  height: 83px;
  margin: 0 auto;
  background-color: #30241f;
  border-left: 1px solid #5e463c;
  border-right: 1px solid #5e463c;
  border-top: 1px solid #4a362e;
}
.contact_header-top {
  height: 53px;
  background-color: #251b17;
}
.contact_header-bot {
  background-color: #3b2c25;
  border-top: 1px solid #4a362e;
}
.contact-logo {
  margin-top: -270px;
  margin-left: -40px;
}
.contact_menu {
  width: 80%;
  margin: 0 auto;
}
.contact_navbar {
  display: flex;
  text-decoration: none;
  float: right;
  margin-right: 102px;
}
.contact-item {
  margin-top: 32px;
  margin-left: 87px;
  text-align: center;
}
.contact-item_image {
  width: 33px;
  margin-bottom: 12px;
}
.contact-item p {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #c7b18d;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.contact-name {
  margin-left: 170px;
  margin-top: -160px;
  color: #ede8e4;
  font-size: 55px;
  font-family: "Duepuntozero";
}
.contact-name1 {
  margin-left: 236px;
  color: #c7b18d;
  font-size: 13px;
  font-weight: 500;
}
.contact-content {
  height: 93px;
}
.contact_main {
  background-image: linear-gradient(#dbd2ce, white);
  margin-bottom: 100px;
}
.contact_container {
  width: 71%;
  margin: 0 auto;
  background-image: linear-gradient(#e6e2df, white);
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.contact_info {
  width: 63.9%;
  height: 100%;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 30px;
}
.contact_info-title {
  font-size: 37px;
  padding-bottom: 17px;
  border-bottom: 2px solid #cfcfcf;
  font-family: "Duepuntozero";
}
.contact_info-detail {
  font-size: 13px;
  color: #645a56;
}
.contact_info-author {
  margin-top: 30px;
}
.contact_info-author ul {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.contact_info-author ul li {
  width: 30%;
  margin-bottom: 10px;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
}
.contact_info-author ul li:nth-child(2) {
  width: 28.5%;
}
.contact_info-author ul li span:last-child {
  color: #645a56;
}
.contact_footer {
  height: 130px;
  background-color: #3b2c25;
  border-right: 1px solid #48362d;
  border-left: 1px solid #48362d;
}
.contact_footer-main {
  width: 71%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.contact_footer-left {
  width: calc(100% - 550px);
  background-color: #251b17;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}
.contact_footer-right {
  width: 80%;
  background-color: #30241f;
  padding: 35px;
  display: flex;
  justify-content: space-between;
}
.contact_footer p {
  color: #a68a7d;
  text-transform: uppercase;
  font-size: 11px;
}
.contact_footer p span {
  color: #fff;
}
.contact_form {
  margin-top: 20px;
}
.contact_form label {
  font-size: 11px;
  color: #645a56;
}
.contact_form input,
.contact_form textarea {
  margin-top: 5px;
  height: 30px;
  width: 80%;
  border: 1px solid #d8d5d2;
}
.contact_form textarea {
  height: 210px;
}
.contact_form button {
  border: 1px solid #aba199;
  width: 100px;
  height: 33px;
  background-color: #cdc4be;
  float: right;
  margin-right: 121px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .contact_container {
    width: calc(100% - 2px);
  }
  .contact_navbar {
    margin-right: 0;
  }
  .contact_footer-main {
    width: 100%;
  }
  .contact_header-main {
    width: calc(100% - 1px);
    border-left: none;
  }
}
@media only screen and (max-width: 768px) {
  .contact_plan {
    width: 100%;
  }
  .contact_plan-desc {
    width: 100%;
    margin-right: 30px;
  }
  .contact_main {
    width: 100%;
  }
  .contact_info {
    width: auto;
    padding-top: 50px;
    padding-left: 70px;
    margin-left: 0;
  }
  .contact-logo {
    display: none;
  }
  .contact-name {
    margin-top: -24px;
    margin-left: 61px;
  }
  .contact-name1 {
    margin-left: 123px;
  }
  .contact_container {
    width: calc(100% - 2px);
  }
  .contact_footer-main {
    width: 100%;
  }
  .contact button {
    margin-right: 125px;
  }
  .contact_header-main {
    width: calc(100% - 1px);
    border-left: none;
  }

  .arrow {
    transform: translateX(500%);
  }
}
@media only screen and (max-width: 414px) {
  .contact_header {
    height: 173px;
  }
  .contact_header-bot {
    height: 100%;
  }
  .contact_header-main {
    height: 100%;
  }
  .contact-name {
    margin-top: 47px;
    margin-left: 131px;
  }
  .contact-name1 {
    margin-left: 191px;
    margin-top: -5px;
  }
  .contact-item {
    margin-left: 47px;
  }
  .contact_info {
    padding-top: 20px;
    padding-left: 30px;
  }
  .contact_info-author ul li {
    width: auto;
    margin-bottom: 17px;
  }
  .contact_form input,
.contact_form textarea {
    width: 100%;
  }
  .contact_footer img {
    display: none;
  }
  .contact button {
    margin-right: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
