/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1920px;
  line-height: 1;
  margin: 0 auto;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.lightbox_header {
  width: 100%;
  height: 265px;
}
.lightbox_header-main {
  width: 71%;
  height: 214px;
  margin: 0 auto;
  background-color: #30241f;
  border-left: 1px solid #5e463c;
  border-right: 1px solid #5e463c;
  border-top: 1px solid #4a362e;
}
.lightbox_header-top {
  height: 53px;
  background-color: #251b17;
}
.lightbox_header-bot {
  background-color: #3b2c25;
  border-top: 1px solid #4a362e;
}
.lightbox-logo {
  margin-top: -145px;
  margin-left: -40px;
}
.lightbox_menu {
  width: 80%;
  margin: 0 auto;
}
.lightbox_navbar {
  display: flex;
  text-decoration: none;
  float: right;
  margin-right: 70px;
}
.lightbox-item {
  margin-top: 28px;
  margin-left: 87px;
  text-align: center;
}
.lightbox-item_image {
  width: 37px;
  margin-bottom: 16px;
}
.lightbox-item p {
  color: #c7b18d;
  font-size: 11px;
}
.lightbox-name {
  margin-left: 170px;
  margin-top: -160px;
  color: #ede8e4;
  font-size: 55px;
  font-family: "Duepuntozero";
}
.lightbox-name1 {
  margin-left: 236px;
  color: #c7b18d;
  font-size: 13px;
  font-weight: 500;
}
.lightbox-content {
  display: flex;
  height: 93px;
}
.lightbox-nameRight {
  margin-left: 10px;
  width: 45%;
  margin-top: -160px;
}
.lightbox-paragraph {
  border-left: 2px solid #4a362e;
  padding-left: 20px;
  font-size: 15px;
  color: #a68a7d;
  line-height: 1.3;
}
.lightbox_main {
  background-image: linear-gradient(#dbd2ce, white);
  height: 80%;
  margin-bottom: 100px;
}
.lightbox_container {
  width: 71%;
  margin: 0 auto;
  background-image: linear-gradient(#e6e2df, white);
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.lightbox_info {
  width: 63.9%;
  height: 100%;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 15px;
}
.lightbox_plan {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #cec5c0;
}
.lightbox_plan-quote {
  margin-left: 20px;
  width: 75%;
  background: #e6e2df;
  color: #7f6357;
  padding: 25px;
  font: italic 18px/27px georgia;
}
.lightbox_plan-quote p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #7f6357;
  font-family: georgia;
}
.lightbox_plan-author {
  font: bold normal 15px arial;
  color: #2f231e;
  float: right;
  padding-right: 30px;
  padding-top: 35px;
  font-weight: bold;
}
.lightbox_plan-author span {
  font-size: 10px;
  line-height: 10px;
  display: block;
  color: #89451f;
}
.lightbox-title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
  color: #2f231e;
}
.lightbox-information {
  border-top: 2px solid #cfc6c0;
  padding-top: 20px;
  padding-right: 20px;
}
.lightbox-list {
  display: flex;
}
.lightbox-list img {
  height: 27px;
  margin-right: 15px;
}
.lightbox-list_item {
  margin-bottom: 20px;
}
.lightbox-list_item h2 {
  color: #836065;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "Duepuntozero";
}
.lightbox-list_item p {
  font-size: 15px;
  color: #645a56;
  line-height: 1.5;
}
.lightbox_recent p > strong {
  color: #000;
  font-weight: 800;
}
.lightbox_recent p {
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #4e4d4d;
  margin-top: 15px;
}
.lightbox_recent-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 30px;
}
.lightbox_recent-title {
  margin-bottom: 0;
  font-size: 30px;
  color: #2f231e;
  font-weight: 600;
}
.lightbox_recent-number {
  display: flex;
  gap: 8px;
}
.lightbox_recent-image {
  width: calc(100% - 20px);
  padding: 11px;
  border: 1px solid #d6cec9;
  background: white;
}
.lightbox_recent-image img {
  width: calc(100% - 10px);
  display: block;
  margin: 0 auto;
  border: 1px solid #cecece;
}
.lightbox_footer {
  height: 100px;
  background-color: #3b2c25;
  border-right: 1px solid #48362d;
  border-left: 1px solid #48362d;
}
.lightbox_footer-main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.lightbox_footer-left {
  width: calc(100% - 500px);
  height: 100%;
  background-color: #251b17;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox_footer-right {
  width: 80%;
  height: 30px;
  background-color: #30241f;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lightbox_footer p {
  color: #a68a7d;
  text-transform: uppercase;
  font-size: 13px;
}
.lightbox_footer p span {
  color: #fff;
}

.arrow {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 25px solid #e3e3e3;
  border-left: 30px solid #f1efed;
  border-right: 5px solid #f1efed;
  position: absolute;
  transform: translateX(500%);
}

@media only screen and (max-width: 1024px) {
  .lightbox_container {
    width: calc(100% - 2px);
  }
  .lightbox_footer-main {
    width: 100%;
  }
  .lightbox_header-main {
    width: calc(100% - 1px);
    border-left: none;
  }
}
@media only screen and (max-width: 768px) {
  .lightbox_plan {
    width: 100%;
  }
  .lightbox_plan-desc {
    width: 100%;
    margin-right: 30px;
  }
  .lightbox_main {
    width: 100%;
  }
  .lightbox_info {
    width: auto;
    padding-top: 50px;
    padding-left: 30px;
    margin-left: 0;
  }
  .lightbox-logo {
    width: 270px;
    margin-top: -180px;
  }
  .lightbox-name {
    margin-top: -150px;
  }
  .lightbox_container {
    width: calc(100% - 2px);
  }
  .lightbox_footer-main {
    width: 100%;
  }
  .lightbox_header-main {
    width: calc(100% - 1px);
    border-left: none;
  }

  .arrow {
    transform: translateX(500%);
  }
}
body {
  font-family: "Montserrat", sans-serif;
  max-width: 1920px;
  line-height: 1;
  margin: 0 auto;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.contact_header {
  width: 100%;
  height: 136px;
}
.contact_header-main {
  width: 71%;
  height: 83px;
  margin: 0 auto;
  background-color: #30241f;
  border-left: 1px solid #5e463c;
  border-right: 1px solid #5e463c;
  border-top: 1px solid #4a362e;
}
.contact_header-top {
  height: 53px;
  background-color: #251b17;
}
.contact_header-bot {
  background-color: #3b2c25;
  border-top: 1px solid #4a362e;
}
.contact-logo {
  margin-top: -270px;
  margin-left: -40px;
}
.contact_menu {
  width: 80%;
  margin: 0 auto;
}
.contact_navbar {
  display: flex;
  text-decoration: none;
  float: right;
  margin-right: 80px;
}
.contact-item {
  margin-top: 28px;
  margin-left: 87px;
  text-align: center;
}
.contact-item_image {
  width: 37px;
  margin-bottom: 16px;
}
.contact-item p {
  color: #c7b18d;
  font-size: 11px;
}
.contact-name {
  margin-left: 170px;
  margin-top: -160px;
  color: #ede8e4;
  font-size: 55px;
  font-family: "Duepuntozero";
}
.contact-name1 {
  margin-left: 236px;
  color: #c7b18d;
  font-size: 13px;
  font-weight: 500;
}
.contact-content {
  height: 93px;
}
.contact_main {
  background-image: linear-gradient(#dbd2ce, white);
  margin-bottom: 100px;
}
.contact_container {
  width: 71%;
  margin: 0 auto;
  background-image: linear-gradient(#e6e2df, white);
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.contact_info {
  width: 63.9%;
  height: 100%;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 30px;
}
.contact_info-title {
  font-size: 30px;
  padding-bottom: 17px;
  border-bottom: 2px solid #cfcfcf;
}
.contact_info-detail {
  font-size: 13px;
  color: #645a56;
}
.contact_info-author {
  margin-top: 30px;
}
.contact_info-author ul {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.contact_info-author ul li {
  width: 30%;
  margin-bottom: 10px;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
}
.contact_info-author ul li:nth-child(2) {
  width: 28.5%;
}
.contact_info-author ul li span:last-child {
  color: #645a56;
}
.contact_plan {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #cec5c0;
}
.contact_plan-quote {
  margin-left: 20px;
  width: 70%;
  background: #e6e2df;
  color: #7f6357;
  padding: 23px;
  font: italic 18px/27px georgia;
}
.contact_plan-quote p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #7f6357;
  font-family: georgia;
}
.contact_plan-author {
  font: bold normal 15px arial;
  color: #2f231e;
  float: right;
  padding-right: 30px;
  padding-top: 35px;
  font-weight: bold;
}
.contact_plan-author span {
  font-size: 10px;
  line-height: 10px;
  display: block;
  color: #89451f;
}
.contact-title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
  color: #2f231e;
}
.contact-information {
  border-top: 2px solid #cfc6c0;
  padding-top: 20px;
  padding-right: 20px;
}
.contact-list {
  display: flex;
}
.contact-list img {
  height: 27px;
  margin-right: 15px;
}
.contact-list_item {
  margin-bottom: 20px;
}
.contact-list_item h2 {
  color: #836065;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "Duepuntozero";
}
.contact-list_item p {
  font-size: 15px;
  color: #645a56;
  line-height: 1.5;
}
.contact_recent p > strong {
  color: #000;
  font-weight: 800;
}
.contact_recent p {
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #4e4d4d;
  margin-top: 15px;
}
.contact_recent-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 30px;
}
.contact_recent-title {
  margin-bottom: 0;
  font-size: 30px;
  color: #2f231e;
  font-weight: 600;
}
.contact_recent-number {
  display: flex;
  gap: 8px;
}
.contact_recent-image {
  width: calc(100% - 20px);
  padding: 11px;
  border: 1px solid #d6cec9;
  background: white;
}
.contact_recent-image img {
  width: calc(100% - 10px);
  display: block;
  margin: 0 auto;
  border: 1px solid #cecece;
}
.contact_footer {
  height: 130px;
  background-color: #3b2c25;
  border-right: 1px solid #48362d;
  border-left: 1px solid #48362d;
}
.contact_footer-main {
  width: 71%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.contact_footer-left {
  width: calc(100% - 500px);
  background-color: #251b17;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}
.contact_footer-right {
  width: 80%;
  background-color: #30241f;
  padding: 35px;
  display: flex;
  justify-content: space-between;
}
.contact_footer p {
  color: #a68a7d;
  text-transform: uppercase;
  font-size: 11px;
}
.contact_footer p span {
  color: #fff;
}
.contact_form {
  margin-top: 20px;
}
.contact_form label {
  font-size: 11px;
  color: #645a56;
}
.contact_form input,
.contact_form textarea {
  margin-top: 5px;
  height: 30px;
  width: 80%;
  border: 1px solid #d8d5d2;
}
.contact_form textarea {
  height: 210px;
}
.contact_form button {
  border: 1px solid #aba199;
  width: 100px;
  height: 33px;
  background-color: #cdc4be;
  float: right;
  transform: translateX(-110%);
}

.arrow {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 25px solid #e3e3e3;
  border-left: 30px solid #f1efed;
  border-right: 5px solid #f1efed;
  position: absolute;
  transform: translateX(500%);
}

@media only screen and (max-width: 1024px) {
  .contact_container {
    width: calc(100% - 2px);
  }
  .contact_footer-main {
    width: 100%;
  }
  .contact_header-main {
    width: calc(100% - 1px);
    border-left: none;
  }
}
@media only screen and (max-width: 768px) {
  .contact_plan {
    width: 100%;
  }
  .contact_plan-desc {
    width: 100%;
    margin-right: 30px;
  }
  .contact_main {
    width: 100%;
  }
  .contact_info {
    width: auto;
    padding-top: 50px;
    padding-left: 30px;
    margin-left: 0;
  }
  .contact-logo {
    width: 270px;
    margin-top: -180px;
  }
  .contact-name {
    margin-top: -150px;
  }
  .contact_container {
    width: calc(100% - 2px);
  }
  .contact_footer-main {
    width: 100%;
  }
  .contact_header-main {
    width: calc(100% - 1px);
    border-left: none;
  }

  .arrow {
    transform: translateX(500%);
  }
}

/*# sourceMappingURL=style.css.map */
